{% extends 'layout.html' %}

{% block body %}

	<div class="grid-container">
		<h1> Dashboard </h1>
		<h3> Welcome {{ session.username }} </h3>

		<a class="create-post-link" href="/create_listing">
			<button type="button" class="create-post-button button success">
				Create Listing
			</button>
		</a>
		<hr/>
		<table class="hover">
			<thead>
				<tr>
					<th width="150"> Title </th>
					<th> Description </th>
					<th width="70"> Price($) </th>
					<th width="150"> Last Updated </th>
					<th> </th>
					<th> </th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				{% for listing in listings %}
					<tr>
						<td> {{ listing[1] }} </td>
						<td class="listing-body"> {{ listing[3]|safe }} </td>
						<td> {{ listing[4] }} </td>
						<td> {{ listing[5] }} </td>
						<td>
							<a href="/listings/{{listing[0]}}" class="button primary">
								View
							</a>
						</td>
						<td>
							<a href="edit_listing/{{listing[0]}}" class="button secondary">
								Edit
							</a>
						</td>
						<td> 
							<form action="{{url_for('delete_listing', listing_id=listing[0])}}" method="POST">
								<input type="hidden" name="_method" value="DELETE">
								<input type="submit" value="Delete" class="button alert">
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}