{% extends 'layout.html' %}

{% block body %}
	<div class="grid-container">
		<h1> LOGIN </h1>
		<div class="grid-y medium-grid-frame">
			<div class="cell medium-auto medium-cell-block-container">
				<div class="grid-x grid-padding-x">
					<div class="cell medium-8 medium-cell-block-y">
						<form method="POST" action="">
							<div class="grid-x grid-padding-x grid-padding-y">
								<div class="field-cell cell small-8 medium-11 large-10">
									<label> Username </label>
									<input type="text" placeholder="Username" name="username" />
								</div>
							</div>
							<div class="grid-x grid-padding-x grid-padding-y">
								<div class="field-cell cell small-8 medium-11 large-10">
									<label> Password </label>
									<input type="password" placeholder="Password" name="password" />
								</div>
							</div>
							<div class="grid-x">
								<input type="submit" class="button success item-link-button" value="Login" />
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock %}